[submodule "submodules/pcre2"]
	path = submodules/pcre2
	url = ssh://git@ssh.github.com:443/PCRE2Project/pcre2.git
[submodule "submodules/imagick-3.7.0"]
	path = submodules/imagick-3.7.0
	url = ssh://git@ssh.github.com:443/Imagick/imagick.git
	branch = 3.7.0
[submodule "submodules/wordpress-6.2"]
	path = submodules/wordpress-6.2
	url = ssh://git@ssh.github.com:443/WordPress/WordPress.git
	branch = 6.2-branch
[submodule "submodules/ImageMagick"]
	path = submodules/ImageMagick
	url = ssh://git@ssh.github.com:443/ImageMagick/ImageMagick.git
[submodule "submodules/nginx-1.24.0"]
	path = submodules/nginx-1.24.0
	url = ssh://git@ssh.github.com:443/Hotakus/nginx.git
	branch = branches/stable-1.24
[submodule "submodules/zlib"]
	path = submodules/zlib
	url = ssh://git@ssh.github.com:443/madler/zlib.git

[submodule "submodules/php-src"]
	path = submodules/php-src
	url = ssh://git@ssh.github.com:443/php/php-src.git
	branch = PHP-7.4.33
