[submodule "submodules/pcre2"]
	path = submodules/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
[submodule "submodules/nginx-1.24"]
	path = submodules/nginx-1.24
	url = https://github.com/Hotakus/nginx.git
	branch = branches/stable-1.24
[submodule "submodules/PHP-8.2.6"]
	path = submodules/PHP-8.2.6
	url = https://github.com/php/php-src.git
	branch = PHP-8.2.6

